MQTT+ESP32CAM-Basicv2.0.json
[
    {
        "id": "6875dc08.bbf364",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88dd53f.3432db",
        "type": "mqtt in",
        "z": "6875dc08.bbf364",
        "name": "",
        "topic": "home/esp32/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "1166c66f.fe44aa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "7faf6e72.54fb6"
            ]
        ]
    },
    {
        "id": "601843bf.0afcfc",
        "type": "debug",
        "z": "6875dc08.bbf364",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 380,
        "wires": []
    },
    {
        "id": "9c5953ae.58956",
        "type": "mqtt out",
        "z": "6875dc08.bbf364",
        "name": "",
        "topic": "home/esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1166c66f.fe44aa",
        "x": 690,
        "y": 560,
        "wires": []
    },
    {
        "id": "edd6c353.e036c",
        "type": "ui_switch",
        "z": "6875dc08.bbf364",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f53cc1dd.3009c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "9c5953ae.58956"
            ]
        ]
    },
    {
        "id": "81b45355.62ae9",
        "type": "function",
        "z": "6875dc08.bbf364",
        "name": "",
        "func": "msg.payload=msg.payload.temperatura;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "8840908.9cf877",
                "54a6e7c1.0dac18"
            ]
        ]
    },
    {
        "id": "7faf6e72.54fb6",
        "type": "json",
        "z": "6875dc08.bbf364",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 140,
        "wires": [
            [
                "81b45355.62ae9",
                "6720c23c.6ae13c",
                "601843bf.0afcfc"
            ]
        ]
    },
    {
        "id": "6720c23c.6ae13c",
        "type": "function",
        "z": "6875dc08.bbf364",
        "name": "",
        "func": "msg.payload=msg.payload.humedad;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "4032abdc.1fed74",
                "7b2f8d2c.fd80a4"
            ]
        ]
    },
    {
        "id": "8840908.9cf877",
        "type": "ui_gauge",
        "z": "6875dc08.bbf364",
        "name": "Temperatura",
        "group": "958a937a.8efd9",
        "order": 3,
        "width": "10",
        "height": "8",
        "gtype": "compass",
        "title": "Temp",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 100,
        "wires": []
    },
    {
        "id": "54a6e7c1.0dac18",
        "type": "ui_chart",
        "z": "6875dc08.bbf364",
        "name": "Temperatura",
        "group": "958a937a.8efd9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 730,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4032abdc.1fed74",
        "type": "ui_chart",
        "z": "6875dc08.bbf364",
        "name": "Humedad",
        "group": "d45c0f4d.881c2",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Hum",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 720,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2f8d2c.fd80a4",
        "type": "ui_gauge",
        "z": "6875dc08.bbf364",
        "name": "Humedad",
        "group": "d45c0f4d.881c2",
        "order": 3,
        "width": "10",
        "height": "8",
        "gtype": "wave",
        "title": "Hum",
        "label": "%",
        "format": "{{value}}",
        "min": "-20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "1166c66f.fe44aa",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.66.119.222",
        "port": "1883",
        "clientid": "humberto990327",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f53cc1dd.3009c",
        "type": "ui_group",
        "name": "Tx",
        "tab": "5bcb582e.80fb08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "958a937a.8efd9",
        "type": "ui_group",
        "name": "Tempeartura",
        "tab": "5bcb582e.80fb08",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "d45c0f4d.881c2",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "5bcb582e.80fb08",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "5bcb582e.80fb08",
        "type": "ui_tab",
        "name": "ESP32CAM-MQTT  ",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
